.success-message {
    color: rgb(59, 206, 39);
}
  
.error-messages {
    color: red;
}

th, td {
    border: 0px solid #ddd;
    padding: 18px;
    text-align: center; 
    vertical-align: middle; 
}  

th {
    background-color: #f2f2f2;
}
  
